.locationCont{
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
    color: rgb(83, 71, 71);
}
.h1{
    width:100%;
    height:40%;  

}


.weatherLocationCont{
    text-align: left;
    font-family: 'Roboto',sans-serif;   
    margin: 20px; 
    width:25%;
    height: 300px;

}

.buttomUpload{
    padding-left:30px;
}